html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;   
}
#ball{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%; 
    /* margin-top:90px; */
     /* display: inline-block;  */
    /* position: absolute;  */
} 
#rectangle{
    width: 100%;
    height: 100px; 
    position: fixed;
    background-color: green; 
    bottom: 0
    /* margin-top:456px; */
}
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer; 
    
} 
#verticalMover{
    border-color: black;
    /* position: absolute;  */
    background-color: pink; 
    /* left: -50px;    */
}

@keyframes make_move {

   

    /* 0% {
        transform:translate(0px);
        animation-timing-function: linear
    }
    15% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    35% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }
    65% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    75% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }
    87% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    100% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }  */
}