#wheel_back {
    width: 50px;
    height: 50px;
    position: absolute;
    background: brown;
    bottom: 0;
    left: 0vw;
    border-radius: 50%;
   
}

#wheel_front {
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 5vw;
    border-radius: 50%;
    position: absolute;
    background: brown;
   
}

#truck_cabin {
    width: 160px;
    height: 15px;
    background-color: black;
    position: absolute;
    bottom: 50px;
    left: 0vw;
}

#base_of_truck {
    width: 40px;
    height: 3vw;
    background-color: black;
    position: absolute;
    bottom: 65px;
    left: 120px;
}

#box {
    width: 80px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    bottom: 65px;
    left: 0.5vw;
} 

@keyframes my_truck_anim {
    0% {
        transform: translateX(0px);
    }
    14% {
        transform: translateX(calc(25vw)); 
    }
    28% {
        transform: translate(calc(45vw), calc(-8vh));
    }
    42% {
        transform: translate(calc(45vw), calc(-30vh)); 
    }
    58% {
        transform: translate(calc(45w), calc(-40vh)); 
    }
    72% {
        transform: translate(calc(20vw), calc(-40vh));
    }
    86% {
        transform: translate(calc(20vw), calc(-40vh));
    }
    100% { 
        transform: translate(calc(45vw), calc(-40vh));
    }
}

@keyframes take_box_off {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    47% {
        transform: translateX(0px);
    }
    58% {
        transform: translateX(0px);
    }
    82% {
        transform: rotate(-65deg);
    }
    100% {
        transform: translateX(0px);
    }
}
