html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;   
}
#ball{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%; 
} 
#moving_area{
    /* background-color: black; */ 
    /* border-color: bisque; */
}
#person{
    width: 100px;
    height: 200px; 
    position: fixed;
    background-color: green; 
    bottom: 0
}
#stick{
    width: 33vh;
    height: 3vh;
    position: fixed;
    background-color: brown;
    bottom: 0;
    left: 1100px;
}
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer;   
}  
/* MY TRUCK */ 
#my_truck {
    position:absolute; 
    bottom: 0px; 


}
#wheel_back {
    width: 50px;
    height: 50px;
    background: blue;
    position:absolute;
    bottom: 0;
    left: 5vw;
    border-radius: 50%;
} 

#wheel_front {
    width: 50px;
    height: 50px;
    background: blue;
    position:absolute;
    bottom: 0;
    left: 10vw;
    border-radius: 50%;
}
#base_of_truck {
    width: 165px;
    height: 10px;
    position: absolute;
    background-color: black;
    bottom: 50px;
    left: 5vw;
}

#truck_cabin {
    position: absolute;
    background-color: black;
    width: 30px;
    height: 50px;
    bottom: 60px;
    left: 12vw;
}

#bottom_semitrailer {
    position: absolute;
    width: 135px;
    height: 5px;
    background-color: yellow;
    bottom: 60px;
    left: 5vw;
}

#box {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: purple;
    bottom: 65px;
    left: 5vw;
}
@keyframes movement_my_truck {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(300px); rotate(0deg);   
        
    } 
    70% {
        transform: translate(350px, -300px);
    }
}

