html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;   
}
#ball{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%; 
} 
#moving_area{
    /* background-color: black; */
}
#person{
    width: 100px;
    height: 200px; 
    position: fixed;
    background-color: green; 
    bottom: 0
}
#stick{
    width: 28vh;
    height: 2vh;
    position: fixed;
    background-color: brown;
    bottom: 0;
    left: 1100px;
}
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer;   
} 

@keyframes make_move {
    0% {
        transform:translate(0px);
        animation-timing-function: ease-in;
    }
    100% {
        transform:translateX(50px);
        animation-timing-function: ease-in;
    }
}

@keyframes make_move2 {
    0% {
        transform:translate(0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform:translateX(950px);
        animation-timing-function: ease-in;
    }
    100% {
        transform:translateX(-900px);
        animation-timing-function: ease-in;
    }
}