html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;   
}
#ball{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%; 
} 
#moving_area{
    background-color: black;
}
#person{
    width: 100px;
    height: 200px; 
    position: fixed;
    background-color: green; 
    bottom: 0
}
#stick{
    width: 50px;
    height: 200px; 
    position: fixed;
    margin-left:1150px;
    background-color: brown; 
    bottom: 0
}
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer;   
} 

@keyframes make_move {
    0% {
        transform:translate(0px);
        animation-timing-function: ease-in;
    }
    100% {
        transform:translateY(50px);
        animation-timing-function: ease-in;
    }
}