html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-image: url("obrazek/wir.jpeg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#ball{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block; 
    position: absolute;
}
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer; 
    margin-left: 40px;
}
@keyframes  makeSpiral {
    0%{
        animation-timing-function: linear;
        transform:rotate(0);  
    }
    20%{
        transform: rotate(360deg) translate(calc(var(--imageWidth)/6*1px), 0px);
    }
    45%{
        transform: rotate(720deg) translate(calc(var(--imageWidth)/6*1.7px), 0px);
    }
    70% {
        transform: rotate(1080deg) translate(calc(var(--imageWidth)/6*2.20px), 0px);
    }
    100% {
        transform: rotate(2160deg) translate(calc(var(--imageWidth)/2*1px), 0px);
    }
}