html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;   
}
#ball{
    /* height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;  */
} 
#christmas_ball{
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;  
    margin-left: 1336px;  
    bottom: 0px;
    
    /* margin-top: 100%; */


    
    /* position: relative; */
    position: fixed;
    animation: mymove 3s; 
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
/* #moving_area2{
   
    background-color: burlywood; 
    bottom: 0px;
    animation-fill-mode: forwards;
} */
.btn{
    border: none;
    color: blue;
    padding: 6px 13px; 
    cursor: pointer;   
} 

@keyframes make_move {

    0% {
        transform:translate(0px);
        animation-timing-function: linear
    }
    14% {
        transform: translateY(320px);
        animation-timing-function: ease-out
    }
    30% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }
    45% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    62% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    } 
    79% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    100% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    } 
}

/* @keyframes christmas_move {

    0% {
        transform:translate(0px);
        animation-timing-function: linear
    }
    100% {
        transform: translateY(-320px);
        animation-timing-function: ease-out
    }
    /* 30% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }
    45% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    62% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    } 
    79% {
        transform:translateY(320px);
        animation-timing-function: ease-out
    }
    100% {
        transform:translateY(10px);
        animation-timing-function: ease-in
    }  
} */


@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 320px; background-color: blue;}
  }